<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ios_setting_server_settings_group</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ios_setting_server_group_adress</string>
			<key>Key</key>
			<string>ipadress</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ios_setting_server_group_port</string>
			<key>Key</key>
			<string>port</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ios_setting_server_use_ssl</string>
			<key>Key</key>
			<string>ssl</string>
			<key>DefaultValue</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ios_setting_server_group_authcode</string>
			<key>Key</key>
			<string>authcode</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ios_setting_notifications_group</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ios_setting_notification_active_title</string>
			<key>Key</key>
			<string>notifications</string>
			<key>DefaultValue</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ios_setting_language_group</string>
			<key>DefaultValue</key>
			<string>ios_setting_language_array_0</string>
			<key>Key</key>
			<string>language</string>
			<key>Values</key>
			<array>
				<string>en</string>
				<string>sv</string>
				<string>fi</string>
			</array>
			<key>Titles</key>
			<array>
				<string>ios_setting_language_array</string>
				<string>ios_setting_language_array_0</string>
				<string>ios_setting_language_array_1</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root.strings</string>
</dict>
</plist>
