<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>Xamarin.Data.iOS</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon-72</string>
		<string>icon-50</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-60@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small-40@2x.png</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Xamarin Data</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>NSMainNibFile</key>
	<string></string>
</dict>
</plist>
