<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="XForms_MapViewiOSPermission.Android">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="XForms-MapViewiOSPermission.Android">
        <uses-library android:name="com.google.android.maps" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <!--- TODO: Enter Google API Key below -->
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAJDA37dfzLzXcbdGUbmuYxBSmVUK5rvEI" />
	</application>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>